@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 30px;
    margin-top: 216px;
    height: 500px;
    width: 320px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: var(--surface-color);
}

.header h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

header h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin-bottom: 10px;
}

.site {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
    margin-bottom: 10px;
}

.button {
    display: flex;
    gap: 10px;
}

.content-container {
    width: 20%;
    gap: 10px;
    margin-top: 30px;
}

.contentOne {
    margin-bottom: 20px;
}

.contentOne h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #F5F5F5;
}

.contentOne p {
    width: 240px;
    text-align: start;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #DCDCDC;
}

.contentTwo h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #F5F5F5;
}

.contentTwo p {
    width: 240px;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #DCDCDC;
    margin-bottom: 50px;
}
